.ourCoffee__header {
	padding: 40px 0 0 0;
	height: 260px;
	background: url('../../../images/OurCoffeeBG.jpg')  -1px no-repeat;
	background-size: cover;
	color: #fff;
}
.container {
	max-width: 780px;
	margin: 0 auto;
	text-align: center;
}
.oc-header__nav {
	margin: 0px 0px 80px 80px;
}
.oc-header__title {
	font-size: 40px;
	margin: 0px 0px 20px 0px;
}